language: python

python:
  - "3.7"
  - "3.8"
  - "3.9"
  - "3.10"

services:
  - redis-server

install:
  - pip install -U pipenv importlib-metadata
  - pipenv sync --dev --system

script:
  - black --check .
  - pytest --cov=./

after_success:
  - codecov

deploy:
  provider: pypi
  edge: true
  distributions: "sdist bdist_wheel"
  skip_existing: true
  on:
    tags: true
