language: python

python:
  - "3.5"
  - "3.6"
  - "3.7"
  - "3.8"

services:
  - redis-server

install:
  - pip install pytest pytest-cov codecov
  - pip install redis pyyaml

script:
  - pytest  --cov=./

after_success:
  - codecov

deploy:
  provider: pypi
  edge: true
  distributions: "sdist bdist_wheel"
  skip_existing: true
  on:
    tags: true
