[dev-packages]
black = ">=22.1"
codecov = ">=2.1.12"
django = ">=4.2"
fakeredis = "==2.2.0"
isort = "==5.11.5"
lupa = ">=1.14.1"
pytest-cov = ">=3.0.0"
pyyaml = ">=6.0"
redis = ">=4.4.4"
typed-ast = { version = ">=1.5.2", markers = "python_version == '3.7'" }
typing-extensions = ">=4.1.1"
