[[source]]
name = "pypi"
url = "https://mirrors.tencent.com/pypi/simple/"
verify_ssl = true

[dev-packages]
black = ">=22.1"
codecov = ">=2.1.12"
django = ">=3.2.14,<4.0"
fakeredis = "==2.2.0"
isort = "==5.11.5"
lupa = ">=1.14.1"
pytest-cov = ">=3.0.0"
pyyaml = ">=6.0"
redis = ">=4.1.4"
typed-ast = { version = ">=1.5.2", markers = "python_version == '3.7'" }
typing-extensions = ">=4.1.1"

[packages]

[requires]
